.my-container {
  max-width: 1000px;
  margin: 0px auto;
}

.modal::backdrop {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: black;
  opacity: 0.6;
}

.active-box::after {
  content: "";
  display: block;
  width: 6px;
  height: 100%;
  background-color: rgb(59 130 246);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}

.switch {
  position: relative;
  height: 1.5rem;
  width: 3rem;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 9999px;
  background-color: rgba(100, 116, 139, 0.377);
  transition: all 0.2s ease;
}

.switch:checked {
  background-color: rgb(243 232 255);
}

.switch::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  border: 1px solid rgba(100, 116, 139, 0.527);
  border-radius: 9999px;
  background-color: white;
  box-shadow: 0 3px 10px rgba(100, 116, 139, 0.327);
  transition: all 0.2s ease;
}

.switch:checked:before {
  transform: translateX(100%);
  background-color: rgba(91, 33, 182, 1);
}
